@font-face {
  font-family: 'annabelle';
  src: url(/assets/fonts/Anabele.ttf);
}


@font-face {
  font-family: 'elf2';
  src: url(/assets/fonts/elvish\ ring\ nfi.ttf)
 }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  inset: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;

  z-index: 99999;
}

canvas{
  inset: 0;
  position: fixed;
}


.project {
  position: fixed;
  z-index: 9999;
  margin-bottom: 25px;
  margin-right: 25px;
  color: white;
  font-family: annabelle;
  font-size: 20px;
  letter-spacing: 5px;
  bottom: 0;
  right: 0;
}

.content__drag-area {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  background: transparent;
}

.img-drag {
    position: relative;
    background-color: transparent;
    margin: 4rem;
}

.img-2 {
  background-image: url(/assets/object/images/moon.png);
  background-size: cover;
  width: 80px;
  height: 80px;
}

.floating { 
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 3px); }
  100%   { transform: translate(0, -0px); }   
}

nav {
  z-index: 999;
}
.menu {
  position: absolute;
  bottom: 0;
  right: -15px;
  width: auto;
  margin-bottom: 13px;
  height: auto;
  user-select: none;
  counter-reset: menucounter;
  color: white;
  transform: scale(0.6);
  font-family: 'annabelle';
 }
 
 .menu-item {
     position: relative;
     text-transform: uppercase;
     cursor: pointer;
     color: white;
    
 }
 
 .menu-item::before {
     counter-increment: menucounter;
     content: counters(menucounter, '.', decimal-leading-zero);
     position: absolute;
     left: -35px;
     top: 0;
     font-size: 15px;
     color: white;
 }
 
 .menu-item-text {
     pointer-events: none;
     display: block;
     line-height: 1;
     position: relative;
     font-size: 2rem;
 }
 
 .menu-item > div:nth-child(1) span {
     will-change: transform;
     transform-style: preserve-3d;
     transition: 0.5s;
     transition-delay: calc(0.05s * var(--index));
     transform-origin: bottom;
     display: inline-block;
 }
 
 .menu-item > div:nth-child(2) span {
     will-change: transform;
     transform-style: preserve-3d;
     transition: 0.5s;
     transition-delay: calc(0.05s * var(--index));
     transform-origin: top;
     display: inline-block;
     transform: translate3d(0, 100%, 0) rotateX(-90deg);
 }
 
 .menu-item:hover > div:nth-child(1) span {
     transform: translate3d(0, -100%, 0) rotateX(-90deg);
 
 }
 
 .menu-item:hover > div:nth-child(2) span {
     transform: translate3d(0, 0%, 0) rotateX(0deg); 
 }
 
 span {
     font-size: 2rem;
 }

 .line {
  width: 250px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
 }

 .line span {
  width: 173px;
    height: 1px;
    left: 30px;
    top: 15px;
    opacity: 0.8;
    position: absolute;
    margin: 10px;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.372);
 }

 .door_text_wrapper {
  width: auto;
  height: auto;
  color: white;
  z-index: 9999;
  position: absolute;
  font-family: 'elf2';
  top: 18px;
  right: 30px;
 }

 /* .door_text_wrapper a {
  cursor: pointer;
  opacity: 0.2;
  font-size: 15px;
  transition: 0.3s ease-in-out;
 }

 .door_text_wrapper a:hover {
  opacity: 1;
 } */

 .door_text_wrapper input {
  cursor: pointer;
  opacity: 0.2;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  border: 0px;
  font-family: 'elf2';
  letter-spacing: 2px;
  background: 0;
  color: white;
 }

 /* .colorButton {
  color: white;
  font-size: 25px;
  opacity: 1;
 } */

 .door_text_wrapper input:hover {
  opacity: 1;
 }






 /* .cssanimation, .cssanimation span {
  animation-duration: 10s;
  animation-delay: 65s;
  animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  to { opacity: 1 }
} */

/* .title-container {
  position: absolute;
  width: 250px;
  height: 50px;
  background-color: white;
  z-index: 999;
  top: 0;
  left: 0;
  color: black;
}

.explore {
  cursor: pointer;
  background-color: black;
  color: white;
  border: 0px;
  padding: 20px;
} */