@font-face {
  font-family: 'annabelle';
  src: url(/assets/fonts/Anabele.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  inset: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
}

canvas{
  inset: 0;
  position: fixed;
}


/* .name p:hover {
  opacity: 0.4;
} */

.project {
  position: fixed;
  z-index: 9999;
  margin-bottom: 25px;
  margin-right: 25px;
  color: white;
  font-family: annabelle;
  font-size: 20px;
  letter-spacing: 5px;
  bottom: 0;
  right: 0;
}



.content__drag-area {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  background: transparent;
}

.img-drag {
    position: relative;
    background-color: transparent;
    margin: 4rem;
    /* cursor: grab; */
}

.img-2 {
  background-image: url(/assets/object/images/moon.png);
  background-size: cover;
  width: 80px;
  height: 80px;
}

.img-2:hover {
  
}

.floating { 
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 3px); }
  100%   { transform: translate(0, -0px); }   
}