@font-face {
  font-family: 'annabelle';
  src: url(/assets/fonts/Anabele.ttf);
}


@font-face {
  font-family: 'elf2';
  src: url(/assets/fonts/elvish\ ring\ nfi.ttf)
 }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  inset: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
  cursor: none;
  z-index: 99999;
}

#check {
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 100000;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  outline: none;
  flex-direction: column;
  cursor: pointer;
}

#check input {
  padding: 5px;
  margin-left: 20px;
  font-family: 'elf2';
  outline: none;
}
#check p {
  font-family: 'elf2';
  margin-bottom: 20px;
}

#check a {
  color: white;
  font-family: 'annabelle';
  letter-spacing: 3px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  transition: 0.4 ease-in-out;
  cursor: pointer;
  font-size: 11px !important;
}

#check a:hover {
  opacity: 0.6;
}

#check a::after {
  width: 100%;
  margin-top: 3px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.527);
  content: '';
  display: flex;
  flex-direction: column;
}

#check.remove {
  display: none;
}

canvas{
  inset: 0;
  position: fixed;
}


.project {
  position: fixed;
  z-index: 9999;
  margin-bottom: 25px;
  margin-right: 25px;
  color: white;
  font-family: annabelle;
  font-size: 20px;
  letter-spacing: 5px;
  bottom: 0;
  right: 0;
}

.content__drag-area {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  background: transparent;
}

.img-drag {
    position: relative;
    background-color: transparent;
    margin: 4rem;
}

.img-2 {
  background-image: url(/assets/object/images/moon.png);
  background-size: cover;
  width: 80px;
  height: 80px;
}

.floating { 
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 3px); }
  100%   { transform: translate(0, -0px); }   
}

nav {
  z-index: 999;
}
.menu {
  position: absolute;
  bottom: 0;
  right: -15px;
  width: auto;
  margin-bottom: 13px;
  height: auto;
  user-select: none;
  counter-reset: menucounter;
  color: white;
  transform: scale(0.6);
  font-family: 'annabelle';
 }
 
 .menu-item {
     position: relative;
     text-transform: uppercase;
     cursor: pointer;
     color: white;
    
 }
 
 .menu-item::before {
     counter-increment: menucounter;
     content: counters(menucounter, '.', decimal-leading-zero);
     position: absolute;
     left: -35px;
     top: 0;
     font-size: 15px;
     color: white;
 }
 
 .menu-item-text {
     pointer-events: none;
     display: block;
     line-height: 1;
     position: relative;
     font-size: 2rem;
 }
 
 .menu-item > div:nth-child(1) span {
     will-change: transform;
     transform-style: preserve-3d;
     transition: 0.5s;
     transition-delay: calc(0.05s * var(--index));
     transform-origin: bottom;
     display: inline-block;
 }
 
 .menu-item > div:nth-child(2) span {
     will-change: transform;
     transform-style: preserve-3d;
     transition: 0.5s;
     transition-delay: calc(0.05s * var(--index));
     transform-origin: top;
     display: inline-block;
     transform: translate3d(0, 100%, 0) rotateX(-90deg);
 }
 
 .menu-item:hover > div:nth-child(1) span {
     transform: translate3d(0, -100%, 0) rotateX(-90deg);
 
 }
 
 .menu-item:hover > div:nth-child(2) span {
     transform: translate3d(0, 0%, 0) rotateX(0deg); 
 }
 
 span {
     font-size: 2rem;
 }

 .line {
  width: 250px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
 }

 .line span {
  width: 173px;
    height: 1px;
    left: 30px;
    top: 15px;
    opacity: 0.8;
    position: absolute;
    margin: 10px;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.372);
 }

 .door_text_wrapper {
  width: auto;
  height: auto;
  color: white;
  z-index: 9999;
  position: absolute;
  font-family: 'elf2';
  top: 18px;
  right: 30px;
 }

 .door_text_wrapper input {
  cursor: pointer;
  opacity: 0.2;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  border: 0px;
  font-family: 'elf2';
  letter-spacing: 2px;
  background: 0;
  color: white;
 }

 .door_text_wrapper input:hover {
  opacity: 1;
  cursor:help
 }

 .button-container {
  position: relative;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  transition: 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.button-container button {
  width: 101%;
  height: 100%;
  font-family: "helvetica";
  font-size: 13px;
  background: #fff;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #000;
  cursor: pointer;
  animation: anim2 0.7s steps(22) forwards;
}

.button-container button:hover {
  animation: anim1 0.7s steps(22) forwards;
}

.mask {
  position: absolute;
  color: #fff;
  text-align: center;
  width: 101%;
  font-family: "helvetica";
  font-weight: lighter;
  font-size: 13px;
  margin-top: 16px;
  overflow: hidden;
}

@keyframes anim1 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes anim2 {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
