.letter {
    position: absolute;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    font-size: 40px;
    opacity: 1;
}

#letter1 {
    
    top: 0;
    left: 0;
    margin: 20px;
}


#letter2 {
    
    top: 0;
    right: 0;
    margin: 20px;
}

#letter3 {
    
    bottom: 0;
    right: 0;
    margin: 20px;
}

#letter4 {
    transform: translate(-50%, 0);
    bottom: 0;
    margin: 20px;

}

#letter5 {
    bottom: 0;
    left: 0;
    margin: 20px;
}