#overlay-check {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 100000;
  top: 0;
  left: 0;
  background-image: url(/public/assets/object/images/noise.gif);
  opacity: 0.1;
}
#check {
    height: 100vh;
    width: 100vw;
    background-color: black;
    // background-image: url(/public/assets/object/images/noise.gif);
    z-index: 111000;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    outline: none;
    flex-direction: column;
    cursor: pointer;
    #wrapper-password {
      display: flex;
      flex-direction: column;
      width: 250px;
    }
  }
  
  #check input {
    padding: 5px;
    margin-left: 20px;
    font-family: 'elf2';
    outline: none;
  }
  #check #password {
    font-family: 'elf2';
    margin-bottom: 30px;
    display: flex;
  }
  
  #check a {
    color: white;
    font-family: 'annabelle';
    letter-spacing: 3px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transition: 0.4 ease-in-out;
    cursor: pointer;
    font-size: 11px !important;
  }
  
  #check a:hover {
    opacity: 0.6;
  }
  
  #check a::after {
    width: 100%;
    margin-top: 3px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.527);
    content: '';
    display: flex;
    flex-direction: column;
  }
  
  #check.remove {
    display: none;
  }

  #overlay-check.remove {
    display: none;
  }